footer
    .container
        .footer-item
            h4 Twitter Feeds
            .footer-block
                p Check out this great theme item
                p
                    a(href="#") http://tadjalskfj.com
                p 2 weeks ago
                hr
            .footer-block
                p Check out this great theme item for
                p
                    a(href="#") http://tadjalskfj.com
                p 2 weeks ago
                hr
            .footer-block
                p Check out this great theme item for you
                p
                    a(href="#") http://tadjalskfj.com
                p 2 weeks ago
        .footer-item
            h4 Newsletter
            p Lorem ipsum dolor sit amet, consectetur adip iscing elit. Ut ultricies sagittis magna a comm. Ut eget eros mauris, ut cursus urna.
            hr
            p Your Email Address
            input(type="text" size="40")
            button Sign Up
        .footer-item
            h4 Recent projects
            .footer-2-columns
                img(src="images/white-rectangle.png" alt="")
                .footer-block
                    p Sketchy Business Card
                    p
                        a(href="#") http://tadjalskfj.com
                    p 2 weeks ago
                hr
            .footer-2-columns
                img(src="images/white-rectangle.png" alt="")
                .footer-block
                    p Message Boards in Nature
                    p
                        a(href="#") http://tadjalskfj.com
                    p 2 weeks ago
                hr
            .footer-2-columns
                img(src="images/white-rectangle.png" alt="")
                .footer-block
                    p Website Design Kit
                    p
                        a(href="#") http://tadjalskfj.com
                    p 2 weeks ago
        .footer-item
            h4 Contact
            .footer-2-columns
                img(src="images/phone.png" alt="")
                .footer-block
                    p 1 - 000 - 000-0000
                    p 1 - 000 - 000-0000
            .footer-2-columns
                img(src="images/smartphone.png" alt="")
                #footer-block-left-corrected.footer-block
                    p 1 - 000 - 000-0000
                    p 1 - 000 - 000-0000
            .footer-2-columns
                img(src="images/letter.png" alt="" class="image-corrected")
                #footer-block-corrected.footer-block
                    p abcdefg@hijs.dfh
                    p fjashfaf@jkfs.ckd
