header
    #header
        .container
            .left-inline
                .center-top
                    a(href="#")
                        img(src="images/logo.png" alt="")
                    a(href="#") Your logo
            input#burger.burger-shower(type="checkbox")
            label.nav-burger.right-inline(for="burger")
            ul.nav.right-inline
                li.hover-nav.selected-nav
                    a(href="#") Home
                li.hover-nav
                    a(href="#") Portfolio
                li.hover-nav
                    a(href="#") About
                li.hover-nav
                    a(href="#") Contact
                li
                    a(href="#")
                        button Blog
                li
                    input.search-input(type="text" placeholder="Search")
                    button.search-button
            .nav-overlay
