#modal_form
    img(src="" alt="")
    span.modal_close x
    p
#testimonials_form.modal_html
    span.modal_close x
    p
        textarea(name="title")
    p
        textarea(name="body")
    p
        textarea(name="autor")
    .form-images
    .edit-controls
        button.edit-ok OK
        button.edit-cancel CANCEL
#overlay

.gallery
    .viewport
        ul.slidewrapper
    .control-gallery-item.arrow-left
    .control-gallery-item.arrow-right
    .control-gallery-item.score
    .miniatures
        ul
    span.modal_close x

#icon-switcher
    .triangle
    span#cls x

