#offers
    .container
        #offers-title
            h1 What We Offer
            h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies sagittis magnaa commodo. Ut eget eros mauris, ut cursus urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.
        .items
            .offers-item
                h4 Web Design
                p Lorem ipsum dolor sit amet, consect etur adipiscing elit. Ut ultricies sagit tism agnaa commodo. Ut eget eros mauris, ut cursus urna vestibuluman ipsum primis in faucibus orci luctuset.
                button(modal_type="html" data-target="#modal_form") Details
            .offers-item
                h4 Search Optimization
                p Lorem ipsum dolor sit amet, consect etur adipiscing elit. Ut ultricies sagit tism agnaa commodo. Ut eget eros mauris, ut cursus urna vestibuluman ipsum primis in faucibus
                    a(href="#") Details...
            .offers-item
                h4 Online Shop
                p Lorem ipsum dolor sit amet, consect etur adipiscing elit. Ut ultricies sagit tism agnaa commodo. Ut eget eros mauris, ut cursus urna vestibuluman ipsum primis in faucibus orci luctuset.
                button(modal_type="html" data-target="#modal_form") Details
            .offers-item
                h4 Social Media
                p Lorem ipsum dolor sit amet, consect etur adipiscing elit. Ut ultricies sagit tism agnaa commodo. Ut eget eros mauris, ut cursus urna vestibuluman ipsum primis in faucibus orci luc &nbsp; >>>
