.services-title
    button Our services
#services
    .container
        .services-item.design
            h4 Web Design
            p Lorem ipsum dolor sit amet,consectetur adipiscing elit. Mauris nec ipsum at lacus commodo suscipit.
                a(href="#") Details...
        .services-item.optimisation
            h4 Search Optimization
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ipsum at lacus commodo suscipit.
                a(href="#") Details...
        .services-item.shop
            h4 Online Shop
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ipsum at lacus commodo suscipit.
                a(href="#") Details...
        .services-item.media
            h4 Social Media
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ipsum at lacus commodo suscipit.
                a(href="#") Details...
