.slider
    .viewport
        ul.slidewrapper
            li.slide(modal_type="gallery" data-target="#modal_form")
                img.slide-img(src="images/slide3.jpg" alt="1")
                .container
                    h1 Good Design Is Good Business
                    h3
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies sagittis magnaa commodo.
                        p Ut eget eros mauris, ut cursus urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.
                    button.learn-more Learn More

            li.slide(modal_type="gallery" data-target="#modal_form")
                img.slide-img(src="images/slide4.jpg" alt="2")
                .container
                    h1 Good Design Is Good Business
                    h3
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies sagittis magnaa commodo.
                        p Ut eget eros mauris, ut cursus urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.
                    button.learn-more Learn More

            li.slide(modal_type="gallery" data-target="#modal_form")
                img.slide-img(src="images/slide8.jpg" alt="3")
                .container
                    h1 Good Design Is Good Business
                    h3
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies sagittis magnaa commodo.
                        p Ut eget eros mauris, ut cursus urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.
                    button.learn-more Learn More

            li.slide(modal_type="gallery" data-target="#modal_form")
                img.slide-img(src="images/slide1.png" alt="4")
                .container
                    h1 Good Design Is Good Business
                    h3
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies sagittis magnaa commodo.
                        p Ut eget eros mauris, ut cursus urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.
                    button.learn-more Learn More

            li.slide(modal_type="gallery" data-target="#modal_form")
                img.slide-img(src="images/slide7.jpg" alt="5")
                .container
                    h1 Good Design Is Good Business
                    h3
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies sagittis magnaa commodo.
                        p Ut eget eros mauris, ut cursus urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.
                    button.learn-more Learn More
    .container.slider-switchers
        ul.right-inline
            li.selected-switcher
            li
            li
            li
            li