#testimonials
    hr
    .testimonials-slider
        .control-testimonials-item.delete-item -
        .control-testimonials-item.add-item(modal_type="alertWidow" data-target="#modal_form") +
        .viewport
            ul.slidewrapper.editable-child
        ul.items

