#works
    .container
        #works-title
            p.left-inline Our Portfolio Awesome
            a.right-inline(href="#")
                img(src="images/more-works-text.png" alt="")
        .items
            .works-item(modal_type="image" data-target="#modal_form")
                .hover-img-works
                    img(src="images/camera.png")
                    img.details(src="images/details2.png")
                h4 Lorem Ipsum Dolar Sit Amet
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ipsum at lacus commodo suscipit.

            .works-item(modal_type="image" data-target="#modal_form")
                .hover-img-works
                    img(src="images/camera.png")
                    img.details(src="images/details2.png")
                h4 Lorem Ipsum
                p Lorem ipsum dolor sit amet, consectetur adipiscinglit.

            .works-item(modal_type="image" data-target="#modal_form")
                .hover-img-works
                    img(src="images/camera.png")
                    img.details(src="images/details2.png")
                h4 Ipsum Amet Dolar Sit
                p Lorem ipsum dolor sit amet, consectetur adipiscing elitmauris nec ipsum at lacus commodo suscipit.
