@media (max-width: 1000px) {

  #header {
    height: auto;
    margin-top: 7px;
    margin-bottom: 7px;

    .container {
      width: 95%;
      height: auto;

      .left-inline {
        margin-top: 5px;
        height: auto;
        position: relative;
        z-index: 10;
      }

      ul.nav {
        position: relative;
        z-index: 1;
        display: block;
        margin-top: -300px;
        width: 100%;
        transition: .5s;
        transition-timing-function: ease-in-out;
      }

      .burger-shower:checked ~ ul.nav {
        margin-top: 10px;
        width: 100%;
      }
    }
  }

  .nav-overlay {
    position: absolute;
    top: -10px;
    width: 100%;
    height: 46px;
    background: #f4f4f4;
    z-index: 5;
  }

  .nav-burger {
    position: relative;
    z-index: 10;
    width: 30px;
    height: 30px;
    background: url("../images/menu2.png") no-repeat center top;
    background-size: 100%;
    cursor: pointer;
    transition: .5s;
    transition-timing-function: ease-in-out;
  }

  .burger-shower:checked ~ .nav-burger {
    opacity: .6;
    -webkit-transform: rotateZ(-360deg);
    -ms-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }

  .nav li {
    margin: auto;
    height: 40px;

    li:first-child {
      margin-top: 0;
    }

    li:last-child {
      float: right;
    }
  }

  .container .nav li a {
    margin: auto;
    line-height: 40px;
    font-size: 18px;
  }

  .selected-nav {
    background: #3e9dd1;
  }

  .container {
    width: auto;
  }

  #services {
    height: auto;
    margin-bottom: 560px;

    .container {
      display: block;
      width: 70%;
      margin: auto;
    }
  }

  .services-item {
    margin-top: 40px;
    width: 210px;

    &:nth-child(odd) {
      float: left;
      margin-right: 0;
      clear: both;
    }

    &:nth-child(even) {
      float: right;
    }

    &:nth-child(2) {
      margin-right: 0;
    }
  }

  #works {
    height: auto;

    .container {
      width: 80%;

      .works-item {
        margin-bottom: 30px;
        height: auto;
        float: none;
        width: 100%;
        text-align: center;
        background-size: 100%;

        h4 {
          margin-top: 15px;
        }
      }
    }

    .items {
      display: block;
    }

    .works-item {
      h4, #works .works-item p {
        width: 70%;
        margin: auto;
      }

      img {
        width: 60%;
      }
    }
  }

  #works-title {
    width: auto;
  }

  .details {
    left: 20%;
    right: 20%;
  }

  #offers {
    height: auto;

    .container {
      width: 70%;
      display: block;
    }

    .items {
      display: block;
    }

    .items .offers-item {
      margin: auto;
      margin-bottom: 20px;
      width: auto;
      max-width: 230px;
    }

    .items .offers-item {

      &:nth-child(odd) {
        float: left;
        clear: both;
      }

      &:nth-child(even) {
        float: right;
      }
    }
  }

  #offers-title h3 {
    width: auto;
  }

  #testimonials {

    .container {
      width: 80%;
    }

    h2 {
      width: 100%;
      margin-bottom: 20px;
    }

    hr {
      width: 80%;
    }
  }

  .testimonials-slides {
    height: auto;
  }

  footer {
    height: auto;

    .container {
      width: 70%;
      display: block;
    }
  }

  .container .footer-item {
    margin-bottom: 30px;
  }

  .footer-item {

    &:nth-child(odd) {
      float: left;
      clear: both;
      margin-left: 0;
      margin-right: 0;
    }

    &:nth-child(even) {
      float: right;
      margin-right: 0;
    }

    &:nth-child(2) {
      padding-bottom: 50px;
    }

    &:nth-child(4) {
      width: 239px;
    }
  }
}

@media (max-width: 610px) {

  .container .services-item {
    float: none;
    margin: auto;
    margin-top: 40px;
    width: 90%;
  }

  #services {
    height: auto;
    margin-bottom: 30px;
  }

  #works-title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

    & p, & a {
      margin: auto;
      float: none;
    }

    p {
      display: block;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 768px) {

  .slider {
    .slider-switchers {
      display: flex;

      ul {
        margin-right: auto;
        margin-left: auto;
        float: none;
      }
    }
  }

  #offers .container {
    width: 90%;

    .items .offers-item {
      float: none;
      max-width: 70%;
    }
  }

  .container .footer-item {
    width: 90%;
    float: none;
    margin: auto;
    margin-bottom: 50px;
  }

  .footer-item {

    &:nth-child(1), &:nth-child(2) {
      text-align: center;
    }

    &:nth-child(4) {
      margin-bottom: 100px;
    }

    h4 {
      text-align: center;
    }

    &:last-child {
      text-align: center;
      width: 80%;
    }

    &:last-child .footer-2-columns {
      width: 100%;
      padding-bottom: 40px;
    }

    &:last-child .footer-2-columns #footer-block-corrected, &:last-child .footer-2-columns img {
      position: static;
    }

    &:last-child .footer-2-columns img {
      float: left;
    }

    &:last-child .footer-2-columns .footer-block {
      float: right;
      padding-bottom: 6px;
    }
  }
}

@media (max-width: 1000px) and (min-width: 600px) {

  #modal_form {
    width: 55%;
  }

}

@media (max-width: 600px) and (min-width: 320px) {

  #modal_form {
    width: 65%;
  }

}

@media (max-width: 320px) {

  #modal_form {
    width: 85%;
  }

}
